{{#extends base}} 

{{#block "content"}}
<h1>All Food Records</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Tags</th>
            <th></th>      
        </tr>   
    </thead>
    <tbody>

    </tbody>
</table>

{{/block}}

{{/extends}}